<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />



    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.thinkdiffai.cloud_note.CreateGroupActivity"
            android:exported="false" />
        <activity
            android:name="com.thinkdiffai.cloud_note.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.thinkdiffai.cloud_note.ChatroomActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.thinkdiffai.cloud_note.ChatActivity"
            android:exported="false" />
        <activity
            android:name="com.thinkdiffai.cloud_note.LoadingPageActivity"
            android:exported="false" />
        <activity
            android:name="com.thinkdiffai.cloud_note.CreateNotePublicActivity"
            android:exported="false" />
        <activity
            android:name="com.thinkdiffai.cloud_note.NotesPublicActivity"
            android:exported="false" />
        <activity
            android:name="com.thinkdiffai.cloud_note.HomeActivity"
            android:exported="false" />
        <receiver android:name="com.thinkdiffai.cloud_note.AlarmReceiver"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.thinkdiffai.cloud_note.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths_app" />
        </provider>
        <activity
            android:name="com.thinkdiffai.cloud_note.ScreenShotActivity"
            android:exported="false" />

        <service
            android:name="com.thinkdiffai.cloud_note.services.ScreenShot"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.thinkdiffai.cloud_note.Detail_Note_ImageActivity"
            android:exported="false" />
        <activity
            android:name="com.thinkdiffai.cloud_note.NoteImageActivity1"
            android:exported="false" />
        <activity
            android:name="com.thinkdiffai.cloud_note.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.thinkdiffai.cloud_note.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.thinkdiffai.cloud_note.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.thinkdiffai.cloud_note.SettingActivity"
            android:exported="false" />
        <activity
            android:name="com.thinkdiffai.cloud_note.Detail_CheckNote"
            android:exported="false" />
        <activity
            android:name="com.thinkdiffai.cloud_note.Detail_Note"
            android:exported="false" />
        <activity
            android:name="com.thinkdiffai.cloud_note.CheckedList_Activity"
            android:exported="false" />
        <activity
            android:name="com.thinkdiffai.cloud_note.TextNoteActvity"
            android:exported="false" />
        <activity
            android:name="com.thinkdiffai.cloud_note.LoadingActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>